.menu-wrapper
{
  margin-top: 50px;
  width: 200px;
  height: 100%;

  display: inline-block;
  vertical-align: top;

  border-right: 1px solid #ddd;
}

.menu-wrapper .menu_theme_normal.menu_size_m
{
  padding: 0;
}
